.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto
                        auto auto auto auto
                        auto auto auto auto
                        auto auto auto auto;
}

.container {
  margin: auto;
}

.square {
  border: 1px solid #999;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
